body{
  background-color: #f3f1ff;
}
.navbar img{
   
    width: 40px;

}
.top-player img{
    width: 40px;
}
main{
    width: 870px;
    background-color: #FFFFFF;
}

h3{
    position: relative;
    left: 20px;
    padding-top: 20px;
    font-weight: 500;
font-size: 24px;
line-height: 40px;
   
}
.player p {
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
}
/*.container-fluid{
    margin-left: 300px;
    margin-right: 300px;
}*/
.nav-item{
    padding: 10px;
}
.top-blog img{
   
width: 177px;
height: 117px;
}
.lates-course{
    margin-top: 10px;
    width: 870px;
    background-color: #FFFFFF;
}
.lates-course img{
    width: 224px;
height: 104px;
}
.instrector
{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14.6913px;
line-height: 17px;
color: #ED6B4F;
}
.lates-course img {
    width: 265px;
    height: 150px;

}
.course-4{
    border-radius: 30px;
}
